<!doctype html>
<html>
<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
      body         { padding-top:80px; }
  </style>
  <!--<link rel="stylesheet" type="text/css"
      href="/static/css/styles.css" /> -->
</head>
<body>
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>
    <form method="POST">

      <div class="form-group">
        <label>Username:</label>
        <input type="text" class="form-control" name="username"><br>
      </div>

      <div class="form-group">
        <label>Password:</label>
        <input type="password" class="form-control" name="password"><br>
      </div>

      <div class="form-group">
        <label>Email:</label>
        <input type="email" class="form-control" name="email"><br>
      </div>

      <input type="submit" class="btn btn-warning btn-lg" value="Register">
    </form>
    <hr>
    Already have an account? <a href="/login">Login</a>
    <hr>
  </div>
</div>
</body>
</html>
